<!doctype html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
      .bg-blue {
        background-color: #2f8ab4 !important;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-blue">
      <div class="container">
        <a class="navbar-brand" href="#">Monzo Receipts</a>
      </div>
    </nav>
    <div class="container">
      <br/>
      <a class="btn btn-primary" href="{{ url }}">Login with Monzo</a>
    </div>
  </body>
</html>
